body {
    background-color: #141a1c
}

.hero {
      text-align: center;       
      /* centre spelling must be center according to coding language  */
     padding-top: 60px;
     padding-bottom: 40px;
     /* padding system gives more premium look instead of crowded */

}     
.hero h1 {
    color: darkgreen;
}
.hero p {
    color: #cca47c;
}
    
    